<% provide :title, t("home")%>
<h1>StaticPages#home</h1>
This is Home Page
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= link_to "Rails Tutorials Get Start", "https://guides.rubyonrails.org/getting_started.html" %>
